.full{
  min-height: 100vh;
 min-width: 100vw; 
}
.all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #70A6E1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D170E1;
}
.rounded-20{
  border-radius: 20px;
}
.hi-5{
  height:'5vh';
}